@font-face {
    font-family: 'KCC Kimhoon';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCKimhoon/KCCKimhoon.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCKimhoon/KCCKimhoon.ttf') format('truetype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCKimhoon/KCCKimhoon.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCKimhoon/KCCKimhoon.woff2') format('woff2');
}
